.main-nav-item {
  all: unset;
  text-decoration: none;
  margin-right: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  .fa {
    font-size: 1em;
  }
}
